main {
    background-color: $--clr-muyClaro;
    padding-bottom: 2rem;
    transition: all 0.3s;
    
    .imagen-fondo{
        background-image: url("../img/background.webp");
        background-size: cover;
        height: 600px;
        justify-content: center;
        opacity: .9;

        @media (max-width: 576px) {
            height: 250px;
        }           
    }    
  }