.contenedor-sponsors {
    h2 {
        text-align: center;
        margin-block: 1rem;
        background-color: $--clr-muyOscuro;
        color: $--clr-claro;
        text-transform: uppercase;
        padding-block: 5px;
        font-weight: bold;
    }

    .sponsors {
        display: flex;
        width: 100%;
        height: 245px;
        img {
            width: 0;
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;
    
            &:hover{
                cursor: crosshair;
                width: 420px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
    }
}