.bg-contenedor-carrito {
    background-color: $--clr-muyClaro;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 2rem;
    width: 32.5rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 0 15px $--clr-muyOscuro;

    .contenedor-carrito {
        max-height: 350px;
        overflow-y: scroll;
        color: $--clr-muyOscuro;
        padding-inline: 1rem;
        .producto-carrito {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr .8fr;
            align-items: center;
            border-bottom: 1px solid $--clr-oscuro;

            &:last-child {
                border-bottom: none;
            }

            p {
                margin: 0;
                width: 80%;
            }
    
            .div-cantidad {
                justify-content: space-between;
                padding-block: 10px;
                padding-inline: 10px;
                display: grid;
                grid-template-columns: .5fr 1fr .5fr;
                text-align: center;
                display: flex;
                align-items: center;
            }
    
            .eliminar-carrito {
                justify-self: center;
                margin-block: 20px;
            }

            i {
                cursor: pointer;
                font-size: 20px;
            }
        }
    }

    .mostrar-total {
        display: flex;
        flex-direction: row;
    }

    @media (max-width: 768px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 2rem 2rem 0 0;

        .contenedor-carrito {
            max-height: 250px;
        }
    } 

    @media (max-width: 576px) {
        .contenedor-carrito {
            .producto-carrito {
                .div-cantidad {
                    padding-inline: 2px;
                }

                .eliminar-carrito {
                    font-size: 25px;
                    margin-block: 15px;
                }
            }
        }
    }
}