.contenedor-tarjetas {
    padding-top: 2rem;
    padding-inline: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .tarjeta{
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        justify-content: start;
        border-radius: 1.5rem;
        border: 10px solid $--clr-oscuro;
        width: 100%;
        background-color: $--clr-oscuro;
        transition: all .5s;

        &:hover {
            width: 110%;
        }

        img{
            max-width: 100%;
            border-radius: 1rem 1rem 0 0;
        }

        .detalle-producto {
            background-color: $--clr-oscuro;
            display: grid;
            grid-template-rows: 2fr repeat(2, 1fr);
            padding: 12px;
            font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            font-size: 20px;
            height: 100%;
            color: $--clr-muyOscuro;

            .nombre-tarjeta {
                font-weight: bold;
                margin-bottom: 0;
                text-decoration: underline;
            }

            .precio-tarjeta {
                width: 50%;
                margin-bottom: 10px;
                justify-self: end; 
                font-size: 24px;
                align-self: center;
            }

            .boton-producto{
                width: 125px;
                background-color: $--clr-claroIntermedio;
                align-self: center;
                border-radius: 2rem;
                height: 30px;
                font-size: 15px;
                align-self: end;
                justify-self: center;
                transition: all .5s;
                border: 1px solid $--clr-oscuroIntermedio;

                &:hover {
                    height: 35px;
                    width: 150px;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        .tarjeta{
            .detalle-producto {
                .nombre-tarjeta{
                    font-size: 25px;
                }
                .precio-tarjeta {
                    font-size: 18px;
                }
            }
       }     
    }

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 100px;
        .tarjeta{
            .detalle-producto {
                .precio-tarjeta {
                    font-size: 22px;
                }
            }
       }     
    }

    @media (max-width: 768px) {
        padding-inline: 80px;
        .tarjeta{
            .detalle-producto {
                .nombre-tarjeta{
                    font-size: 20px;
                }
                .precio-tarjeta {
                    font-size: 20px;
                }
            }
       }       
    }

    @media (max-width: 576px) {
        padding-inline: 30px;
    }
}