.titulo-seccion {
    text-align: center;
    margin-block: 1rem;
    background-color: $--clr-muyOscuro;
    color: $--clr-muyClaro;
    text-transform: uppercase;
    padding-block: 5px;
    font-weight: bold;
}