@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

$--clr-muyClaro: #f2fbf9;
$--clr-claroIntermedio: #9ae6db;
$--clr-claro: #72d6cc;
$--clr-base: #44bdb3;
$--clr-oscuro: #20817d;
$--clr-oscuroIntermedio: #1c5353;
$--clr-casiMuyOscuro: #1b4645;
$--clr-muyOscuro: #0a2829;