@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

$--clr-muyClaro: #f2fbf9;
$--clr-claroIntermedio: #9ae6db;
$--clr-claro: #72d6cc;
$--clr-base: #44bdb3;
$--clr-oscuro: #20817d;
$--clr-oscuroIntermedio: #1c5353;
$--clr-casiMuyOscuro: #1b4645;
$--clr-muyOscuro: #0a2829;

/* $--clr-muyClaro: #eff9ff;
$--clr-claroIntermedio: #c0e5fd;
$--clr-claro: #95d5fb;
$--clr-base: #63bcf7;
$--clr-oscuro: #2580e6;
$--clr-oscuroIntermedio: #2158ac;
$--clr-casiMuyOscuro: #204b88;
$--clr-muyOscuro: #182f53; */