@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

$--clr-muyOscuro: #30201f;
$--clr-claro: #ecdddc;
$--clr-claroIntermedio: #ddc5c4;
$--clr-base: #cba8a6;
$--clr-oscuroIntermedio: #9b6a67;
$--clr-oscuro: #6c4a48;
$--clr-muyClaro: #faf6f6;
$--clr-casiMuyOscuro: #5c4240;